$maincolor: #E4485B;
$darkcolor: darken($maincolor, 9%);
$lightcolor: lighten($maincolor, 4%);

@mixin prefixify($name, $properties...) {
          #{$name}: $properties;
       -o-#{$name}: $properties;
      -ms-#{$name}: $properties;
     -moz-#{$name}: $properties;
  -webkit-#{$name}: $properties;
}

::selection {
	background: $maincolor;
	color: #fff;
}
::-moz-selection {
	background: $maincolor;
	color: #fff;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: #333;
  overflow-y: scroll;
  background: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}



/*STANDARD ELEMENTS*/
a:link, a:visited {
  color: $maincolor;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: $darkcolor;
  text-decoration: underline;
}

.button {
  display: block;
  max-width: 5em;
  margin: 1.5em 2em;
  padding: 0.8em 0.95em 0.85em;
  color: #fafafa;
  background: $maincolor;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid $darkcolor;
  cursor: pointer;
  @include prefixify(box-shadow, inset 0 -1px 1px $darkcolor);
  @include prefixify(border-radius, 2px);

  &:link, &:visited {
    color: #fafafa;
    text-decoration: none;
  }

  &:hover, &:focus {
    background: $lightcolor;
  }
  
  &:active {
    padding: 0.9em 2em 0.75em;
    @include prefixify(box-shadow, inset 0 1px 1px rgba(0, 0, 0, 0.5));
  }
}

h2 {
  font-weight: 300;
  font-size: 2.0em;
  margin: 1.2em 1em 0.6em;
}

h3 {
  font-weight: 300;
  font-size: 1.6em;
  color: $maincolor;
  margin: 1.6em 1.25em 0.3em;
}

.obs {
  display: none;
}



/*HEADER*/
h1 {
  font-weight: 300;
  font-size: 2.5em;
  padding: 1.5em 0.8em 0.2em;
  margin: 0;
  color: $maincolor;

  opacity: 0;
  @include prefixify(transition, opacity 300ms ease-out, padding 300ms ease-out);

  &.loaded {
    opacity: 1;
  }

  a:link, a:visited {
    font-weight: 300;
    text-decoration: none;
  }
}

nav {
  margin: 1em 2em;
  overflow: hidden;

  opacity: 0;
  @include prefixify(transition, opacity 300ms ease-out, margin-top 300ms ease-out);

  &.loaded {
    opacity: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      padding: 0.7em 0.8em 0.7em 0;

      a:link, a:visited {
        text-decoration: none;
      }
        
      a:hover {
        text-decoration: underline;
      }
      
      a.to-port:link, a.to-port:visited {
        text-decoration: none;
        color: #555;

        &:hover {
          color: #222;
          text-decoration: underline;
        }
      }
    }
  }
}



/*CONTENT*/
div#content {
  margin: 1em 0;

  opacity: 0;
  @include prefixify(transition, opacity 300ms ease-out);

  &.loaded {
    opacity: 1;
  }

  &.loading {
    opacity: 0.5;
  }

  p {
    text-align: justify;
    line-height: 1.6em;
    margin: 1em 2em;
  }
}



/*HOME*/
#twitter {
  color: #00aced;
}

#dribbble {
  color: #ea4c89;
}

#instagram {
  color: #3f729b;
}



/*PORTFOLIO*/
body.portfolio, body.portfolioitem {
  h1 {
    padding-top: 0.5em;
    margin-top: 0;
  }

  nav {
    margin-top: 0;

    ul {
      margin: 0;
    }

    a:link, a:visited {
      color: #555;
    }

    .to-port:link, .to-port:visited {
      color: $maincolor;

      &:hover {
        color: $maincolor;
      }
    }
  }
}

ul#portfolio {
  margin: 1em 2em;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    overflow: hidden;
    margin: 1em 0;
    height: 150px;

    div.bg {
      position: absolute;
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;

      img {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
      }
    }

    a {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 1em;
      font-size: 1.2em;
      text-shadow: 0 1px 1px transparentize(black, 0.8);
      background: transparentize(black, 0.8);
      @include prefixify(transition, background 200ms ease);

      &:hover {
        text-decoration: none;
        background: transparentize($darkcolor, 0.3);

        span {
          opacity: 0.8;
          margin-left: 0;

          &.type {
            margin-top: 3.2em;
          }
        }
      }

      span {
        display: block;
        font-size: 0.8em;
        opacity: 0;
        text-transform: capitalize;
        margin-left: -1em;
        @include prefixify(transition, opacity 200ms ease, margin 200ms ease);

        &.type {
          font-style: italic;
          font-weight: 400;
          margin-top: 4.5em;
          margin-bottom: 3px;
        }

        &.year {
          margin-top: 4px;
          font-weight: 400;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  margin: 0.5em auto;
  display: block;
}

#question {
  background: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 1em 0 0;
}

div#cover {
  overflow: hidden;
  position: fixed;
  height: 202px;
  width: 100%;
  top: 132px;
  z-index: 1;
  background: #444;
  border-top: 1px solid #eaeaea;

  img {
    max-width: 80%;
    margin: 8em auto -3em;
    opacity: 0;
    @include prefixify(box-shadow, 0 0 5px 2px transparentize(black, 0.8));

    @include prefixify(transition, opacity 300ms ease-out, margin 300ms ease-out);

    &.no-shadow {
      @include prefixify(box-shadow, none);
    }

    &.loaded {
      opacity: 1;
      margin: 2em auto 0;
    }
  }
}

div#overcover {
  z-index: 2;
  overflow: hidden;
  margin-top: 230px;
  position: relative;
  background: #fafafa;
  @include prefixify(box-shadow, 0 -6px 2px -3px transparentize(black, 0.8));
}

body.portfolioitem {
  header, nav {
    position: fixed;
    top: 0;
  }

  header {
    width: 100%;
  }

  nav {
    top: 78px;
  }
}
 


/*404*/
body.notfound {
  a:link, a:visited {
    color: #555;
  }
}



/*FOOTER*/
footer {
  margin: 2em;

  opacity: 0;
  @include prefixify(transition, opacity 300ms ease-out);

  &.loaded {
    opacity: 1;
  }

  p {
    color: #666;
  }
}

@media screen and (min-width: 230px) {
  h1 .obs {
    display: inline;
  }
}

@media screen and (min-width: 380px) {
  nav .obs {
    display: inline;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    width: 80%;
    margin: 0.5em auto 0;
  }

  h2 {
    margin: 1.2em 0 0.6em;
  }

  h3 {
    margin: 1.6em 0 0.3em;
  }

  div#content, footer, nav {
    width: 80%;
    margin: 1.8em auto;

    p {
      margin: 1em 0;
    }

    ul#portfolio {
      margin: 0;
    }
  }

  body.portfolioitem {
    nav {
      margin-left: 10%;
    }
  }

  #question {
    border: 1px solid #eee;

    h3 {
      margin: 1.2em 1.3em 0.6em;
    }
  }

  div#cover {
    height: 322px;

    img.loaded {
      margin-top: 4em;
    }
  }

  div#overcover {
    margin-top: 350px;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    width: 60%;
  }

  div#content, footer, nav {
    width: 60%;
  }

  ul#portfolio {
    overflow: hidden;

    li {
      width: 47%;
      float: left;

      &:nth-child(2n) {
        margin-left: 3%;
      }
    }
  }

  body.portfolioitem {
    nav {
      margin-left: 20%;
    }
  }

  div#cover img {
    max-width: 60%;
  }

  div#cover {
    height: 422px;

    img.loaded {
      margin-top: 5em;
    }
  }

  div#overcover {
    margin-top: 450px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    width: 45%;
  }

  div#content, footer, nav {
    width: 45%;
  }

  ul#portfolio {
    overflow: hidden;

    li {
      width: 31%;
      float: left;

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:nth-child(3n+2), &:nth-child(3n+3) {
        margin-left: 3.5%;
      }
    }
  }

  body.portfolioitem {
    nav {
      margin-left: 27.5%;
    }
  }

  div#cover img {
    max-width: 45%;
  }

  div#cover {
    height: 502px;
  }

  div#overcover {
    margin-top: 530px;
  }
}