/* --------- */
/* VARIABLES */
/* --------- */
$color: #e4485b;
$headings: 'Muli', sans-serif;





/* --------- */
/* BODY&HTML */
/* --------- */
html,
body {
  margin: 0;
  padding: 0;
  background: white;
  font: 20px $headings;
  color: #333;
  width: 100%;
  word-wrap: break-word;
  position: absolute;

  &.noscroll {
    overflow: hidden;
  }
}





/* ----------------- */
/* STANDARD ELEMENTS */
/* ----------------- */
::selection {
  background: $color;
  color: white;
}
::-moz-selection {
  background: $color;
  color: white;
}

h2 {
  font-weight: 800;
  font-size: 1.6em;
}

p {
  margin: 1.5em 0;
  line-height: 1.6;
}

a {
  color: #333;

  &:hover {
    color: $color;
  }
}





/* ------ */
/* HEADER */
/* ------ */
header {
  margin: 5% 5% 0;
}

.site_title {
  margin: 1em 0 -0.5em;
  text-align: center;
  line-height: 1;
  font-weight: 800;

  &--top {
    font-size: 26px;
    color: #000;

    &:after {
      content: 'FMJansen';
      color: white;
      display: block;
      margin: -.5em 0 -.8em;
      height: .8em;
      overflow: hidden;
      line-height: 0;
    }
  }
}





/* ---------- */
/* PHONE CALL */
/* ---------- */
.phone_call {
  font-size: 1.3em;

  @media (min-width: 500px) {
    font-size: 2.2em;
  }

  &__message {
    padding: 10vh 10%;
    margin: 0;
    color: white;
    background: black;
    font-weight: bold;

    @media (min-width: 500px) {
      padding: 12vh 8%;
    }

    &:nth-of-type(2n) {
      background: #fff;
      color: black;
    }

    &--floris {
      padding-right: 15%;
      padding-left: 14%;

      &:first-of-type {
        font-weight: 800;
        padding: 20vh 15% 20vh 10%;
        font-size: 1.4em;

        @media (min-width: 500px) {
          padding-left: 7%;
        }
      }
    }

    &--visitor {
      text-align: right;
      padding-left: 24%;
    }

    &--center {
      text-align: center;
      font-size: 1rem;
    }
  }

  a {
    color: white;

    &:hover {
      color: $color;
    }
  }

  &__subtle {
    font-size: 1rem;
    opacity: .8;
    display: block;
    margin-top: 1em;
    font-weight: 400;
  }
}

.line {
  background: $color;
  width: 1px;
  left: 5%;
  top: 75vh;
  bottom: 9em;
  position: absolute;
}





/* ---- */
/* WORK */
/* ---- */
.work {
  background: black;
  padding: 1px;

  &__title {
    font-weight: 800;
    padding: 16vh 15% 16vh 10%;
    font-size: 2.9em;
    margin: 0;
    color: white;
  }

  &__item {
    background: white;
    margin: 0 5% 10%;
    padding: 5%;
  }
}





/* ------ */
/* FOOTER */
/* ------ */
footer {
  color: #999;
  text-align: left;
  max-width: 1200px;
  width: 80%;
  margin: auto;
  padding: 2em 0;
}

.lyric {
  margin: 1em;

  &__artist {
    margin: -1em 0 0 2em;
    font-size: .8em;
    display: block;
  }

  &__song {
    font-style: normal;
  }
}
