/* ------ */
/* MIXINS */
/* ------ */
@mixin page-center {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}





/* --------- */
/* VARIABLES */
/* --------- */
$color: #e4485b;
$headings: 'Muli', sans-serif;





/* --------- */
/* BODY&HTML */
/* --------- */
html,
body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font: 20px $headings;
  color: #333;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}





/* ----------------- */
/* STANDARD ELEMENTS */
/* ----------------- */
::selection {
  background: $color;
  color: white;
}
::-moz-selection {
  background: $color;
  color: white;
}

p {
  margin: 1.5em 0;
  line-height: 1.6;
}

a {
  color: #333;

  &:hover {
    color: $color;
  }

  &:hover:visited {
    color: darken($color, 20%);
  }
}





/* ------ */
/* HEADER */
/* ------ */
header {
  margin: 5%;
}

h1 {
  margin: 1em 0 0.5em;
  font-size: 1em;
  text-align: center;
  color: #888;
}





/* ------- */
/* CONTENT */
/* ------- */
.phone_call {
  @include page-center;
  font-size: 1.3em;

  @media (min-width: 500px) {
    font-size: 2.2em;
  }

  &__message {
    margin: 10vh 0;

    @media (min-width: 500px) {
      margin: 15vh 0;
    }

    &--floris {
      padding-right: 11%;

      &:first-of-type {
        font-weight: 800;
        margin: 24vh 0;
        font-size: 1.4em;
      }
    }

    &--visitor {
      text-align: right;
      padding-left: 11%;
      font-weight: bold;
    }
  }

  &__name {
    color: $color;
  }
}





/* ------ */
/* FOOTER */
/* ------ */
footer {
  @include page-center;
  color: #666;
  text-align: center;
}
